@import url(Views/InteractiveMap/interactive-map.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-content {
  width: calc(100% - 4rem - 18px);
  margin-left: auto;
  margin-right: 0;
  transition: 0.5s;
}

.page-content-opened {
  transform: translateX(12rem);
}

.hospital-logo {
  margin-top: 1rem;
  margin-right: 8px;
  margin-left: auto;
  display: block;
  height: 48px;
  width: 48px;
  cursor: pointer;
  border: solid #14b8a6;
  border-radius: 15%;
  transition: 0.3s;
}

.hospital-logo:hover {
  background-color: #14b8a6;
}

.hospital-logo-active {
  background-color: #14b8a6;
}
.p-button-icon-only .p-button-label {
  display: none;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 960px) {
  .storage-table .table-header {
    align-items: flex-start;
  }
}

.storage-table .confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .storage-table .p-toolbar {
    flex-wrap: wrap;
  }
  .storage-table .p-toolbar .p-button {
    margin-bottom: 0.25rem;
  }
  .storage-table .table-header {
    flex-direction: column;
  }
  .storage-table .table-header .p-input-icon-left,
  .datatable-crud-demo .table-header input {
    width: 100%;
  }
}

.p-dropdown-panel {
  width: 100%;
  max-width: 200px;
}
