body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.side-box {
  background-color: #454545;
  position: fixed;
  left: 0;
  top: 0;
  width: 20rem;
  transform: translateX(-16rem);
  height: 100vh;
  transition: 0.5s;
}
.sidebar-content {
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  grid-template-rows: repeat(7, 70px) 40px repeat(2, 70px);
  display: grid;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.side-box-opened {
  transform: translateX(0);
}

/* .side-box:hover {
  transform: translateX(0);
} */

.side-box-opened .sidebar-content {
  visibility: visible;
  opacity: 1;
}
/* .side-box:hover > .page-content {
  visibility: visible;
  opacity: 1;
} */

.page-content {
  width: calc(100% - 4rem - 8px);
  margin-left: auto;
  margin-right: 0;
  transition: 0.5s;
}

/* .side-box:hover + .page-content {
  transform: translateX(16rem);
} */

.page-content-opened {
  transform: translateX(16rem);
}

.kalendar {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kalendar-obal {
  width: 100%;
  height: 100%;
  max-height: 1000px;
  max-width: 1000px;
}

.p-card {
  width: 20rem;
  height: 20rem;
  float: left;
  margin: 2rem;
}

.card-shadow {
  border: solid #454545;
  border-radius: 15%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

.card-shadow:hover {
  background-color: #0d9488;
  transform: scale(1.05);
}

.card-content {
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  height: 180px;
}

.calendar-card-day {
  margin: 0;
  font-size: 7rem;
  transform: translateY(30px);
}

.hospital-logo {
  margin-top: 1rem;
  margin-right: 8px;
  margin-left: auto;
  display: block;
  height: 48px;
  width: 48px;
  cursor: pointer;
  border: solid #14b8a6;
  border-radius: 15%;
  transition: 0.3s;
}

.hospital-logo:hover {
  background-color: #14b8a6;
}

.hospital-logo-active {
  background-color: #14b8a6;
}
.p-button-icon-only .p-button-label {
  display: none;
}

.fc-day {
  cursor: pointer;
  transition: 0.5s;
}

.fc-day:hover {
  background: rgba(20, 184, 166, 0.3);
}
