.home-icon {
  content: url("./images/home.png");
  height: 44px;
  width: 44px;
}
.calendar-icon {
  content: url("./images/calendar-black.png");
  height: 44px;
  width: 44px;
}
.patient-icon {
  content: url("./images/patient-black.png");
  height: 44px;
  width: 44px;
}
.doctor-icon {
  content: url("./images/doctors-black.png");
  height: 44px;
  width: 44px;
}
.examination-icon {
  content: url("./images/examination-black.png");
  height: 44px;
  width: 44px;
}
.hospit-icon {
  content: url("./images/hospit-black.png");
  height: 44px;
  width: 44px;
}
.operation-icon {
  content: url("./images/operation-black.png");
  height: 44px;
  width: 44px;
}
.stat-icon {
  content: url("./images/statistics-black.png");
  height: 44px;
  width: 44px;
}
.plus-icon {
  content: url("./images/plus-black.png");
  height: 44px;
  width: 44px;
}

.user-icon {
  content: url("./images/user.png");
  height: 44px;
  width: 44px;
}

.examination-icon-small {
  content: url("./images/examination-black.png");
  height: 20px;
  width: 20px;
}
.hospit-icon-small {
  content: url("./images/hospit-black.png");
  height: 20px;
  width: 20px;
}
.operation-icon-small {
  content: url("./images/operation-black.png");
  height: 20px;
  width: 20px;
}
.vax-icon-small {
  content: url("./images/ock.png");
  height: 20px;
  width: 20px;
}
.home-icon {
  content: url("./images/home.png");
  height: 44px;
  width: 44px;
}
.calendar-icon {
  content: url("./images/calendar-black.png");
  height: 44px;
  width: 44px;
}
.patient-icon {
  content: url("./images/patient-black.png");
  height: 44px;
  width: 44px;
}
.doctor-icon {
  content: url("./images/doctors-black.png");
  height: 44px;
  width: 44px;
}
.examination-icon {
  content: url("./images/examination-black.png");
  height: 44px;
  width: 44px;
}
.hospit-icon {
  content: url("./images/hospit-black.png");
  height: 44px;
  width: 44px;
}
.operation-icon {
  content: url("./images/operation-black.png");
  height: 44px;
  width: 44px;
}
.stat-icon {
  content: url("./images/statistics-black.png");
  height: 44px;
  width: 44px;
}
.plus-icon {
  content: url("./images/plus-black.png");
  height: 44px;
  width: 44px;
}

.storage-icon {
  content: url("./images/warehouse.png");
  height: 44px;
  width: 44px;
}

.vaccine-icon {
  content: url("./images/vaccine.png");
  height: 44px;
  width: 44px;
}

.disease-icon {
  content: url("./images/disease.png");
  height: 44px;
  width: 44px;
}

.disabled-icon {
  content: url("./images/disabled.png");
  height: 44px;
  width: 44px;
}

.recipe-icon {
  content: url("./images/recipe.png");
  height: 44px;
  width: 44px;
}
.logout-icon {
  content: url("./images/logout.png");
  height: 44px;
  width: 44px;
}
.database-icon {
  content: url("./images/database.png");
  height: 44px;
  width: 44px;
}

.meeting-icon {
  content: url("./images/meeting-black.png");
  height: 44px;
  width: 44px;
}

.meeting-icon-small {
  content: url("./images/meeting-black.png");
  height: 20px;
  width: 20px;
}

.bed-icon {
  content: url("./images/bed-black.png");
  height: 44px;
  width: 44px;
}

.bed-icon-small {
  content: url("./images/bed-black.png");
  height: 20px;
  width: 20px;
}

.chat-icon {
  content: url("./images/chat-black.png");
  height: 44px;
  width: 44px;
}

.log-icon {
  content: url("./images/log.png");
  height: 15px;
  width: 15px;
}

.pharmacy-storage-icon {
  content: url("./images/pharmacy_storage_black.png");
  height: 44px;
  width: 44px;
}
.pharmacy-manager-icon {
  content: url("./images/pharmacist_manager_black.png");
  height: 44px;
  width: 44px;
}
.pharmacist-icon {
  content: url("./images/pharmacist_black.png");
  height: 44px;
  width: 44px;
}
.prescriptions-icon {
  content: url("./images/prescriptions_black.png");
  height: 44px;
  width: 44px;
}
.medicaments-icon {
  content: url("./images/medicaments_black.png");
  height: 44px;
  width: 44px;
}
.active-substance-icon {
  content: url("./images/active_substances_black.png");
  height: 44px;
  width: 44px;
}
.medical-aids-icon {
  content: url("./images/medical_aids_black.png");
  height: 44px;
  width: 44px;
}
.aboutMe-icon {
  content: url("./images/about_me_black.png");
  height: 44px;
  width: 44px;
}

.pharmacy-employee-icon {
  content: url("./images/emloyee_black.png");
  height: 44px;
  width: 44px;
}
.dispensing-medicines-icon {
  content: url("./images/dispense_medicaments_black.png");
  height: 44px;
  width: 44px;
}
.reservations-icon {
  content: url("./images/reservations_black.png");
  height: 44px;
  width: 44px;
}

.warehouse-move-icon {
  content: url("./images/warehouse-move.png");
  height: 44px;
  width: 44px;
}

.order-icon {
  content: url("./images/order.png");
  height: 44px;
  width: 44px;
}
