/* ChatApp.css */

.chat-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.chat-messages {
  padding: 10px;
  overflow-y: auto;
  flex-grow: 1;
}

.message {
  position: relative; /* Added for positioning the tail */
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.message::after {
  content: "";
  position: absolute;
  bottom: -8px; /* Adjust this value to control how far the tail extends beyond the div */
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 16px 16px 0; /* Adjust the values to change the tail size */
  border-color: transparent #4caf50 transparent transparent; /* Use your background color instead of #ffffff */
}

.current-user {
  background-color: #4caf50;
}

.user {
  background-color: #e6e6e6;
  align-self: flex-end;
}

.chat-input {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f2f2f2;
}

.chat-container input {
  flex-grow: 1;
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chat-container button {
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image-preview {
  cursor: pointer;
  max-width: 100px; /* Adjust the max-width as needed */
}

/* Add this style to ensure the image doesn't overflow its container */
.image-preview img {
  max-width: 100%;
  max-height: 100%;
}

.avatar {
  width: 30px;
  height: 30px; /* Adjust the height as needed */
  border-radius: 50%;
  margin-right: 8px; /* Adjust the margin as needed */
}
