.departure-container {
  margin-top: 30px;
  
  .departure-left-card {
    height: 34rem;

    .left-card-header {
      display: flex;
      justify-content: space-between;
      text-align: center;
      h1 {
        font-size: 35px;
        margin: 0;
      }
      button {
        height: 2.5rem;
        background-color: #14B8A6;
        border-color: #14B8A6;
        border-radius: 35%;
      }
    }
  }

  .departure-right-card {
    height: 50.5rem;
  }

  .departure-card {
    width: 50rem;

    .p-card-title {
      color: #474747;
      font-size: 35px;
    }

    .p-datatable .p-datatable-thead > tr > th {
      background-color: #fcfcfc;
      color: #787777;
    }
  }

  .vehicle-edit-icon, .vehicle-delete-icon {
    font-size: 1rem;
  }
}

.departure-form-content {
  .departure-form-row {
    margin-top: 30px;
    gap: 20px;
    display: flex;
    .field {
      min-width: 17rem;
    }
  }

  .p-fluid .p-dropdown {
    height: 45px;
  }

  .first-field {
    width: 65%;
  }

  .departure-form-submit-button {
    margin-top: 35px;
    text-align: right;
    button {
      width: 15rem;
    }
  }
}

.departure-plan-hospital-details {
  display: flex;
  gap: 15px;
  margin-top: 5px;
  .field {
    width: 45%;
  }
}

.departure-details-first-row {
  margin-top: 40px;
}