.departure-container {
  margin-top: 30px;
  
  .departure-left-card {
    height: 34rem;

    .left-card-header {
      display: flex;
      justify-content: space-between;
      text-align: center;
      h1 {
        font-size: 35px;
        margin: 0;
      }
      button {
        height: 2.5rem;
        background-color: #14B8A6;
        border-color: #14B8A6;
        border-radius: 35%;
      }
    }
  }

  .departure-right-card {
    height: 50.5rem;
  }

  .departure-card {
    width: 50rem;

    .p-card-title {
      color: #474747;
      font-size: 35px;
    }

    .p-datatable .p-datatable-thead > tr > th {
      background-color: #fcfcfc;
      color: #787777;
    }
  }

  .vehicle-edit-icon, .vehicle-delete-icon {
    font-size: 1rem;
  }
}