.p-card {
  width: 20rem;
  height: 20rem;
  float: left;
  margin: 2rem;
}

.card-container {
  border: solid #454545;
  border-radius: 5%;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

.card-container:hover {
  background-color: #0d9488;
  transform: scale(1.05);
}

.card-shadow {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card-content {
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  height: 180px;
}
