.side-box {
  background-color: #454545;
  position: fixed;
  left: 0;
  top: 0;
  width: 17rem;
  transform: translateX(-12rem);
  height: 100vh;
  transition: 0.5s;
  overflow-y: auto;
}
.sidebar-content {
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  grid-template-rows: repeat(7, 70px) 40px repeat(2, 70px);
  display: grid;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.side-box-opened {
  transform: translateX(0);
}

.side-box-opened .sidebar-content {
  visibility: visible;
  opacity: 1;
}
