.vehicle-details-row {
  .p-datatable .p-datatable-thead > tr > th {
    background-color: white;
  }

  .vehicle-details-left-card {
    width: 40%;
    margin: 0px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 10px;
    min-height: 23rem;
  }

  .vehicle-details-right-card {
    width: 55%;
    margin: 0px;
    margin-bottom: 25px;
    min-height: 23rem;
  }

  .vehicle-details-first-row-left-card {
    .p-card-content {
      text-align: center;
    }
    .vehicle-details-img {
      width: 65%;
      height: 65%;
    }
  }

  .vehicle-details-second-row-left-card {
    div.row {
      display: flex;
      margin-bottom: 5px;
      font-size: 18px;
      .left-element {
        width: 12rem;
        font-weight: 550;
      }
      .right-element {
        width: 20rem;
      }
    }
  }

  .vehicle-details-second-row-left-card {
    margin-bottom: 0px;
  }

  .vehicle-details-second-row-right-card {
    margin-bottom: 0px;

    .field-type-name {
      min-width: 12rem;
    }
    .field-date-name {
      width: 10rem;
    }
  }
}

@media screen and (max-width: 1610px) {
  .vehicle-details-second-row-left-card {
    margin-bottom: 15px;
  }

  .vehicle-details-second-row-right-card {
    margin-bottom: 15px;
  }
}