.submit-button {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.stats-view {
    width: 98%;
    height: auto;
    min-height: 500px;
    margin-left: 1%;
    padding: 10px;
    background-color: #E6E6E6;
}